<!DOCTYPE module PUBLIC
        "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
        "https://checkstyle.org/dtds/configuration_1_3.dtd">
<!-- kleine verandering om weer te kunnen pushen -->
<module name="Checker">
    <module name="TreeWalker">
        <module name="AnnotationUseStyle"/>
        <module name="AvoidNestedBlocks"/>
        <module name="BooleanExpressionComplexity"/>

        <!--- ... -->

        <module name="CyclomaticComplexity"/>
        <!-- Constants in SCREAM_CASE ?? -->
        <module name="ConstantName">

            <!--- ... -->
        </module>
    </module>
</module>
